'.source.html':
  'ejs if ':
    'prefix': 'th-ejs-if'
    'body': '<%if(data.name === "1"){%>\r\n    <p>...</p>\r\n<%}else if(data.name === "2"){%>\r\n    <p>...</p>\r\n<%}else{%>\r\n    <p>...</p>\r\n<%}%>\r\n$0'